/*
 * Company: OONIO | oonio.de
 * Coder:   Furkan Atabaş | atabasch.com
 * Date:    5.04.2021 02:13
 */

*:focus, *:active{
    outline: none !important;
    box-shadow: none !important;
}

*{
    border-radius: 0px !important;
}

body{
    font-size: .900rem;
    font-family: 'Arial';

}

.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen{ background: white; }