/*
 * Company: OONIO | oonio.de
 * Coder:   Furkan Atabaş | atabasch.com
 * Date:    5.04.2021 02:13
 */

*:focus, *:active{
    outline: none !important;
    box-shadow: none !important;
}

*{
    border-radius: 0px !important;
}

body{
    font-size: .900rem;
    font-family: 'Arial';

}

.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen{ background: white; }

.box-checklist{
    max-height: 260px;
    overflow: auto;
}

.form-label{
    font-weight: 600;
    color: #111;
}
.form-control{
    border-color: #d9d9d9;
}

.swal2-container.swal2-top .swal2-modal{
    margin-top: 61px !important;
}